@model IEnumerable<FoodStuffManager.Models.RestaurantModel>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<hr />
<br />
<br />
<div class="text-center">
    <img src="~/Content/yourrestaurant.png" />
</div>

<div class="col-lg-6 col-lg-push-3 col-md-6 col-md-push-3 col-sm-6 col-sm-push-3">
    <div class="list-group">
        @foreach (var item in Model)
        {
            <a href="@Url.Action(item.Href1, item.Href2)" class="list-group-item list-group-item-action @(item.Classes)">
                @Html.DisplayFor(modelItem => item.Name)
                <span id="@Html.DisplayFor(modelItem => item.Id)" class="badge badge-primary badge">@Html.DisplayFor(modelItem => item.OpenHour)@Html.DisplayFor(modelItem => item.CloseHour)</span>
                <br />
                <small onclick="getHours('@item.Id');">@Html.DisplayFor(modelItem => item.Name), @Html.DisplayFor(modelItem => item.Street)</small>
            </a>
            <script>
                function getHours() {

                    var d = document.getElementById(@item.Id);
                    d = d.innerHTML;

                    var openh = d.split("").slice(0)[0];
                    var closeh = d.split("").slice(-3)[0];

                    return [openh, closeh];

                    //var getH = getHours();
                    //var openh = getH[0];
                    //var closeh = getH[1];
                }

                stuff();
            </script>
        }
    </div>
    <br />
    <hr />
</div>